
/* RTL helpers */
html[dir="rtl"] body { direction: rtl; }
html[dir="rtl"] .text-left { text-align: right; }
html[dir="rtl"] .text-right { text-align: left; }
html[dir="rtl"] .ml-2 { margin-right: .5rem; margin-left: 0; }
html[dir="rtl"] .mr-2 { margin-left: .5rem; margin-right: 0; }
